body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

code{
  background-color: #373d49;
  border: white 1px solid;
  padding: 5px 10px;
  border-radius: 5px;
}

.error {
  color: red;
}

.steps{
  text-align: left;
  height: 50%;
  width: 100%;
  border-radius: 12px;
  border: white 1px solid;
  overflow: hidden;
}

details{
  padding: 10px;
  background-color: #373d49;
}

summary{
  min-width: 350px;
  cursor: pointer;
}